body {
  background: url(above-atmosphere-clouds-37728.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.title {
  color: #fff;
}

.title-container {
  margin-top: 5rem;
}

.error {
  font-size: 0.75rem;
  color: red;
  text-align: center;
}

.btn {
  background: #166088;
  border: #fff 1px solid;
  border-radius: 5px;
}

.btn:active {
  position: relative;
  top: 1.5px;
  background: #fff !important;
  color: #166088 !important;
}

.btn:hover {
  background: #fff;
  color: #166088;
}

::-webkit-input-placeholder {
  font-style: italic;
  color: rgb(87, 85, 85) !important;
}

input {
  background: rgba(255, 255, 255, 0) !important;
  border: #fff solid 1px !important;
  color: #4f6d7a !important;
}

.list-group-item {
  background: rgba(255, 255, 255, 0.7);
  font-weight: 100;
  text-align: center;
  color: #4f6d7a;
}

.data-label {
  font-weight: 600;
}
